.page-content.container-fluid
  .row
    .col-md-3
      .widget
        .widget-body.text-center
          img.img-circle(src=build+'images/users/04.jpg', width='100', alt='')
          h4.mt-20.mb-5.text-black Ryan Moreno
          p.fs-12.text-uppercase.text-muted Developer
          p I am a freelance graphic designer with 5 years experience working in the Graphic Design industry.
          ul.list-inline.mb-0
            li
              a(href='#')
                i.ion-social-skype.text-info.fs-18
            li
              a(href='#')
                i.ion-social-pinterest.text-danger.fs-18
            li
              a(href='#')
                i.ion-social-whatsapp.text-success.fs-18
            li
              a(href='#')
                i.ion-social-instagram.text-black.fs-18
      .widget
        .widget-heading
          h3.widget-title About
        .widget-body
          ul.media-list.icon.mb-0
            li.media
              .media-left
                i.ion-briefcase
              .media-body
                p Software Developer
            li.media
              .media-left
                i.ion-calendar
              .media-body
                p 20 October 1990
            li.media
              .media-left
                i.ion-email
              .media-body
                p lethemes@gmail.com
            li.media
              .media-left
                i.ion-home
              .media-body
                p 4270 Cottage Hill Road
            li.media
              .media-left
                i.ion-iphone
              .media-body
                p (251) 300-2770
            li.media
              .media-left
                i.ion-earth
              .media-body
                p www.lethemes.net
      .widget
        .widget-heading
          h3.widget-title Photos
        .widget-body
          .row.row-sm.grid
            .col-xs-6.popup-gallery
              a(href=build+'images/backgrounds/01.jpg', title='Wallpaper 01')
                img.img-responsive(src=build+'images/backgrounds/01.jpg', alt='')
            .col-xs-6.popup-gallery
              a(href=build+'images/backgrounds/02.jpg', title='Wallpaper 02')
                img.img-responsive(src=build+'images/backgrounds/02.jpg', alt='')
            .col-xs-6.popup-gallery
              a(href=build+'images/backgrounds/03.jpg', title='Wallpaper 03')
                img.img-responsive(src=build+'images/backgrounds/03.jpg', alt='')
            .col-xs-6.popup-gallery
              a(href=build+'images/backgrounds/04.jpg', title='Wallpaper 04')
                img.img-responsive(src=build+'images/backgrounds/04.jpg', alt='')
            .col-xs-6.popup-gallery
              a(href=build+'images/backgrounds/05.jpg', title='Wallpaper 05')
                img.img-responsive(src=build+'images/backgrounds/05.jpg', alt='')
            .col-xs-6.popup-gallery
              a(href=build+'images/backgrounds/06.jpg', title='Wallpaper 06')
                img.img-responsive(src=build+'images/backgrounds/06.jpg', alt='')
    .col-md-6
      form
        .form-group
          .input-group
            input.form-control(type='text', placeholder='Message')
            span.input-group-btn
              input.filestyle(type='file', data-input='false', data-buttonname='btn-default btn-outline', data-buttontext='', data-iconname='ion-image')
      .widget
        .widget-heading
          .media
            .media-left.avatar
              img.media-object.img-circle(src=build+'images/users/11.jpg', alt='')
              span.status.bg-success
            .media-body
              p.mb-0
                span.fw-700 Martha Duncan
                |  uploaded a new photo
              time.text-muted.fs-13(datetime='2016-12-10T20:50:48+07:00') 22 Nov 2016 
                i.ion-clock
                |  12:03 PM
        .widget-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua.
          .thumbnail
            .popup-gallery
              a(href=build+'images/backgrounds/02.jpg', title='Wallpaper 02')
                img.img-responsive(src=build+'images/backgrounds/02.jpg', alt='')
            .text-right.caption
              ul.list-inline.mb-0
                li
                  i.ion-chatbubbles.text-info
                  |  678
                li
                  i.ion-heart.text-danger
                  |  4802
                li
                  i.ion-share.text-success
                  |  3679
          ul.media-list.mb-0
            li.media
              .media-left.avatar
                img.media-object.img-circle(alt='', src=build+'images/users/11.jpg')
                span.status.bg-success
              .media-body
                h5.media-heading Martha Duncan
                  time.text-muted.fw-400.fs-13(datetime='2016-12-10T20:50:48+07:00') 22 Nov 2016 
                    i.ion-clock
                    |  12:12 PM
                p Mission accomplished. It's revolutionary.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/12.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading Katherine Larson
                      time.text-muted.fw-400.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Nov 2016 
                        i.ion-clock
                        |  12:14 PM
                    p Vastly thought out! Found myself staring at it for minutes.
                    .media
                      .media-left.avatar
                        img.media-object.img-circle(alt='', src=build+'images/users/16.jpg')
                        span.status.bg-success
                      .media-body
                        h5.media-heading Cheryl May
                        time.text-muted.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Nov 2016 
                          i.ion-clock
                          |  12:15 PM
                        p Let me take a nap... great colour palette, anyway.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/14.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading Nancy Perkins
                    time.text-muted.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Nov 2016 
                      i.ion-clock
                      |  12:14 PM
                    p
                      | This camera angle has navigated right into my heart.
                      | My 32 year old parent rates this icons very cool :)
      .widget
        .widget-heading
          .media
            .media-left
              img.media-object.mo-md.img-circle(src=build+'images/users/01.jpg', alt='')
            .media-body.media-middle
              p.mb-0
                span.fw-700 Gary Guzman
                |  at 
                span.fw-700 Los Angeles
              time.text-muted.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Nov 2016 
                i.ion-clock
                |  9:29 PM
        .widget-body
          p Looks fun and good :-)
          .thumbnail
            .popup-gallery
              a(href=build+'images/backgrounds/04.jpg', title='Wallpaper 04')
                img.img-responsive(src=build+'images/backgrounds/04.jpg', alt='')
            .text-right.caption
              ul.list-inline.mb-0
                li
                  i.ion-chatbubbles.text-info
                  |  345
                li
                  i.ion-heart.text-danger
                  |  5645
                li
                  i.ion-share.text-success
                  |  5760
          ul.media-list.mb-0
            li.media
              .media-left.avatar
                img.media-object.img-circle(alt='', src=build+'images/users/06.jpg')
                span.status.bg-success
              .media-body
                h5.media-heading Daniel Myers
                  time.text-muted.fw-400.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Jan 2016 
                    i.ion-clock
                    |  12:12 PM
                p Mission accomplished. It's revolutionary.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/08.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading Jason Hall
                      time.text-muted.fw-400.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Jan 2016 
                        i.ion-clock
                        |  12:14 PM
                    p Vastly thought out! Found myself staring at it for minutes.
                    .media
                      .media-left.avatar
                        img.media-object.img-circle(alt='', src=build+'images/users/15.jpg')
                        span.status.bg-success
                      .media-body
                        h5.media-heading Nancy Franklin
                          time.text-muted.fw-400.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Jan 2016 
                            i.ion-clock
                            |  12:15 PM
                        p Let me take a nap... great colour palette, anyway.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/19.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading Karen Carroll
                      time.text-muted.fw-400.fs-13(datetime='2016-12-10T20:50:48+07:00') 20 Jan 2016 
                        i.ion-clock
                        |  12:14 PM
                    p
                      | This camera angle has navigated right into my heart.
                      | My 32 year old parent rates this icons very cool :)
    .col-md-3
      .widget
        .widget-heading
          h3.widget-title New followers
        .widget-body
          ul.media-list.media-lg.mb-0
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/01.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Samuel Thomas
                button.btn.btn-sm.btn-outline.btn-success(type='button')
                  i.ion-person.mr-5
                  |  Following
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/02.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Peter Cook
                button.btn.btn-sm.btn-outline.btn-default(type='button')
                  i.ion-person-add.mr-5
                  |  Follow
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/11.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Kathleen Keller
                button.btn.btn-sm.btn-outline.btn-default(type='button')
                  i.ion-person-add.mr-5
                  |  Follow
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/12.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Deborah Medina
                button.btn.btn-sm.btn-outline.btn-success(type='button')
                  i.ion-person.mr-5
                  |  Following
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/13.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Carolyn May
                button.btn.btn-sm.btn-outline.btn-success(type='button')
                  i.ion-person.mr-5
                  |  Following
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/03.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Joseph Bates
                button.btn.btn-sm.btn-outline.btn-default(type='button')
                  i.ion-person-add.mr-5
                  |  Follow
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/09.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Andrew Harvey
                button.btn.btn-sm.btn-outline.btn-default(type='button')
                  i.ion-person-add.mr-5
                  |  Follow
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/15.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Brittany Schultz
                button.btn.btn-sm.btn-outline.btn-default(type='button')
                  i.ion-person-add.mr-5
                  |  Follow
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/16.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Nancy Henry
                button.btn.btn-sm.btn-outline.btn-success(type='button')
                  i.ion-person.mr-5
                  |  Following
            li.media
              .media-left
                img.media-object.img-circle.mo-lg(src=build+'images/users/08.jpg', alt='')
              .media-body
                h5.media-heading.mb-10 Craig Rivera
                button.btn.btn-sm.btn-outline.btn-success(type='button')
                  i.ion-person.mr-5
                  |  Following